<h1>Profile</h1>
<p>Name: <%= @user.name %></p>
<p>Username: <%= @user.username %></p>
<h2>Events</h2>
<% @user.events.each do |event| %>
  <div>
    <p>Location: <%= event.location %></p>
    <p>Date: <%= event.date %></p>
  </div>
<% end %>
<h2>Previously attended events</h2>
<% @user.attended_events.each do |event| %>
  <% if event.date < Time.zone.now %>
    <div>
      <p>Location: <%= event.location %></p>
      <p>Date: <%= event.date %></p>
    </div>
  <% end %>
<% end %>
<h2>Upcoming Events</h2>
<% @user.attended_events.each do |event| %>
  <% if event.date > Time.zone.now %>
    <div>
      <p>Location: <%= event.location %></p>
      <p>Date: <%= event.date %></p>
    </div>
  <% end %>
<% end %>
