<div class="column">
  <div class="card">
    <div class="card-header">
      <p class="card-header-title"><%= event.creator.name %>'s event</p>
    </div>
    <div class="card-content">
      <strong>When?</strong>
      <% if event.future %>
        <p>in <%= distance_of_time_in_words(Time.zone.now, event.date) %>.</p>
      <% else %>
        <p><%= distance_of_time_in_words(Time.zone.now, event.date) %> ago.</p>
      <% end %>
      <strong>Where at?</strong>
      <p><%= event.location %>.</p>
    </div>
    <div class="card-footer">
      <%= link_to 'More info', event_path(event),
                               class: 'card-footer-item' %>
    </div>
  </div>
</div>
