<div class="column">
  <div class="card">
    <div class="card-header">
      <p class="card-header-title"><%= event.creator.name %>'s event</p>
    </div>
    <div class="card-content">
      <p><%= event.description %></p>
      <p>When? <%= distance_of_time_in_words(Time.zone.now, event.date) %></p>
      <p>Where at? <%= event.location %></p>
    </div>
    <div class="card-footer">
      <%= link_to 'More info', event_path(event),
                               class: 'card-footer-item' %>
    </div>
  </div>
</div>
