<h2 class="title has-text-centered">Host an event</h1>

<%= render partial: 'shared/error_messages', locals: { object: @event } %>
<%= form_with model: @event do |f| %>
  <div class="field">
    <%= f.label :description, class: 'label' %>
    <div class="control">
      <%= f.text_area :description, class: 'textarea' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :date, class: 'label' %>
    <div class="control">
      <%= f.date_field :date, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :location, class: 'label' %>
    <div class="control">
      <%= f.text_field :location, class: 'input' %>
    </div>
  </div>
  
  <%= f.submit class: 'button is-info' %>
<% end %>
