<div class="box content">
  <div class="block">
    <h2 class="level-item title has-text-centered"><%= @event.description %></h3>

    <%= render partial: "events/date", locals: { event: @event } %>
    <%= render partial: "events/location", locals: { event: @event } %>
    <%= render partial: "events/host", locals: { event: @event } %>
    
    <%= render partial: "events/owner_controls", locals: { event: @event } %>
  </div>

  <%= render partial: "invitations/confirmation", locals: { event: @event } %>
  <%= render partial: "events/guest_list", locals: { event: @event } %>
</div>
