  <h3 class="title has-centered-text"><%= @event.description %></h3>
  <p>When? <%= @event.date %></p>
  <p>Where at? <%= @event.location %></p>
  <p>Host? <%= @event.creator.name %></p>
  <% if @event.creator == signed_in_user %>
    <%= link_to 'Invite guests', new_event_invitation_path(@event), class: 'button is-info' %>
  <% end %>
  <ul>
    <h2 class="subtitle">Guest list</h2>
    <h3 class="subtitle">Confirmed</h3>
    <% @event.attendees.each do |attendee| %>
      <li><%= attendee.name %></li>
    <% end %>
    <h3 class="subtitle">Pending</h3>
    <% @event.invitations.pending.each do |invitation| %>
      <li><%= invitation.invitee.name %></li>
    <% end %>

  </ul>
